form {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

h2, p {
    text-align: center;
}

p {
    color: #333;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button {
    padding: 14px 20px;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: greenyellow;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-top: 10px;
}

input, select {
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

label {
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
}

.errorMessage {
    color: red;
}

.goodMessage {
    color: greenyellow;
}