.container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  font-family: Arial, sans-serif;
  padding: 2rem;
}

h2 {
    text-align: center;
}

.user-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-card button {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f8f9fa;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-card button:hover {
  background-color: #e2e6ea;
}

.user-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  border: 2px solid #dee2e6;
}

.user-card h2 {
  font-size: 18px;
  margin: 0;
  color: #333;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0px;
        margin-bottom: 50px;
    }
}