<div class="profile-container">
    <div class="player-card">
        <div class="options">
            <button (click)="changeVisibilityUpdateForm()">Editar perfil</button>
            <button (click)="changeVisibilityConfirmButtons()">Borrar perfil</button>
            <button (click)="logout()">Salir de la sesión</button>
        </div>
        <div class="photo">
            <img [src]="profile.img" (click)="openSelector()">
            <input type="file" #inputFile (change)="fileSelected($event)" accept="image/*" hidden />
            <div class="relations">
                <a href=""><p>{{ profile.followers }} seguidores</p></a>
                <a href=""><p>{{ profile.follows }} seguidos</p></a>
            </div>
        </div>
        <div class="user-data">
            <h2 [textContent]="profile.name"></h2>
            <p [textContent]="profile.description"></p>
        </div>
        <div class="sports-stats">

        </div>
    </div>
    <div class="event-stats">
        
    </div>
    <div class="updated-form" *ngIf="updateForm">
        <div class="close">
            <button (click)="changeVisibilityUpdateForm()">X</button>
        </div>
        <div class="form">
            <app-update-user></app-update-user>
        </div>
    </div>
    <div class="deleteConfirm" *ngIf="wantToDelete">
        <h2>¿Estás seguro de que quieres borrar tu cuenta?</h2>
        <div>
            <button class="confirm" (click)="deleteAccount()">Confirmar</button>
            <button class="cancel" (click)="changeVisibilityConfirmButtons()">Cancelar</button>
        </div>
    </div>
</div>