.profile-container {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.player-card {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    width: 100%;
}

.options {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: end;
    justify-content: right;
    margin-bottom: 10px;
}

.photo {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;
}

.photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #dbdbdb;
    margin-right: 30px;
    cursor: pointer;
    transition: filter 0.3s ease;
}
.photo img:hover {
    filter: brightness(60%);
}

.user-data {
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
}

.updated-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    z-index: 1000;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
}

.close {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: right;
    height: fit-content;
}

.close button {
    color: red;
    background: none;
    border: none;
    cursor: pointer;
    font-size: larger;
}

.deleteConfirm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    z-index: 1000;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
    align-items: center;
    align-content: center;
}

.deleteConfirm h2 {
    text-align: center;
}

.deleteConfirm div button {
    margin: 2px;
    padding: 14px 20px;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-top: 10px;
}

.cancel {
    background-color: greenyellow;
}

.confirm {
    background-color: red;
}

@media (max-width: 768px) {
    .photo img {
        width: 80px;
        height: 80px;
        margin-right: 15px;
    }
}