<div class="profile-container">
    <div class="player-card">
        <div class="options">
            <button>Editar perfil</button>
            <button>Borrar perfil</button>
            <button (click)="logout()">Salir de la sesión</button>
        </div>
        <div class="photo">
            <img src="C:\Ricardo\Datos personales\Indra\Imagen_tipo_carne.jpg">
            <div class="relations">
                <a href=""><p>267 seguidores</p></a>
                <a href=""><p>735 seguidos</p></a>
            </div>
        </div>
        <div class="user-data">
            <h2>John Doe</h2>
            <p>I prefer the volleyball and basketball, but futbol I had play when I was 13 years old.</p>
        </div>
        <div class="sports-stats">

        </div>
    </div>
    <div class="event-stats">
        
    </div>
</div>