<div class="profile-container">
    <div class="player-card">
        <div class="options">
            <div *ngIf="profile.follow; else notFollow">
                <button (click)="unfollow()">Dejar de seguir</button>
            </div>
            <ng-template #notFollow>
                <button (click)="follow()">Seguir</button>
            </ng-template>
        </div>
        <div class="photo">
            <img [src]="profile.img">
            <div class="relations">
                <a [routerLink]="['/bolas/dashboard/followers', this.userId.id]"><p>{{ profile.followers }} seguidores</p></a>
                <a [routerLink]="['/bolas/dashboard/follows', this.userId.id]"><p>{{ profile.follows }} seguidos</p></a>
            </div>
        </div>
        <div class="user-data">
            <h2 [textContent]="profile.name"></h2>
            <p [textContent]="profile.description"></p>
        </div>
        <div class="sports-stats">

        </div>
    </div>
    <div class="event-stats">
        
    </div>
</div>