.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 450px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  label {
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
  }

  .send {
    padding: 14px 20px;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: greenyellow;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-top: 10px;
  }

    button:hover {
    transform: translateY(-2px);
  }
  
  .error-message {
    color: red;
  }

  .success-message {
    color: rgb(0, 61, 0);
  }

  .container {
  max-width: 600px;
  height: 110%;
  margin: auto;
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.option {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
}

.option button {
  padding: 7px 10px;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: greenyellow;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-top: 10px;
}

input, select {
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .photo img {
        width: 80px;
        height: 80px;
        margin-right: 15px;
    }
}