<body>
    <div class="general-container">
        <div class="menu">
            <button [routerLink]="['/bolas/dashboard/home']">Home</button>
            <button [routerLink]="['/bolas/dashboard/events-i-join']">Eventos inscritos</button>
            <button [routerLink]="['/bolas/dashboard/event-creation']">Crear evento</button>
            <button [routerLink]="['/bolas/dashboard/social']">Social</button>
            <button [routerLink]="['/bolas/dashboard/profile']">Perfil</button>
        </div>
        <div class="option">
            <router-outlet></router-outlet>
        </div>
    </div>
</body>